{% extends 'base.html' %}

{% block content %}

    <h1>{{ object.name }}</h1>
    <section class="post-text">
        {{ object.memo|linebreaksbr }}
    </section>
    <section class="post-date">
        <p>Created:&nbsp;{{ object.created_at }}<span>/</span>Updated:&nbsp;{{ object.updated_at }}</p>
    </section>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js" integrity="sha384-cs/chFZiN24E4KMATLdqdvsezGxaGsi4hLGOzlXwp5UZB1LY//20VyM2taTB4QvJ" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js" integrity="sha384-uefMccjFJAIv6A+rW+L4AHf99KvxDjWSu1z9VI8SKNVmz4sk7buKt/6v9KI65qnm" crossorigin="anonymous"></script>



    <form id="graph1" name="name_form" action="{% url 'monitor:chart' object.pk %}" method="POST">
        {% csrf_token %}

        <div class="form-group form-inline">
            <label class="col-sm-3 control-label">Redデータ:</label>
            <div class="col-sm-9">
                <input type="text" id="id_input_data" name="input_data" value="77">
            </div>
        </div>
        <input class="col-sm-3" type="submit" id="button1" name="button1" value="グラフ1更新">
    </form>

    <tbody>
        <!-- グラフ表示 -->
        <div id="content">{% include 'monitor/chart.html' %}</div>
    </tbody>

    <hr>

    <form id="graph2" name="name_form2" action="{% url 'monitor:plot' object.pk %}" method="POST">
        {% csrf_token %}

        {% for field in sample_form %}
            <div class="form-group form-inline">
                <label class="col-sm-3 control-label">{{ field.label }}:</label>
                <div class="col-sm-9">
                    {{ field }}
                </div>
            </div>
        {% endfor %}
        <input class="col-sm-3" type="submit" id="button2" name="button2" value="グラフ2更新">
    </form>

    <tbody>
        <!-- グラフ表示 -->
        <div id="content2">{% include 'monitor/plot.html' %}</div>
    </tbody>

    <script>
        $('#graph1').submit( function(event) {
            event.preventDefault();
            var form = $(this);
            $.ajax({
                 url: form.prop("action"),
                 method: form.prop("method"),
                 data: form.serialize(),
                 timeout: 10000,
                 dataType: "text",
            })
            .done( function(data) {
                 //alert("success1");
                 $('#content').html(data);
            })
        });

        $('#graph2').submit( function(event) {
            event.preventDefault();
            var form = $(this);
            $.ajax({
                 url: form.prop("action"),
                 method: form.prop("method"),
                 data: form.serialize(),
                 timeout: 10000,
                 dataType: "text",
            })
            .done( function(data) {
                 //alert("success2");
                 $('#content2').html(data);
            })
        });
    </script>


    <section>
        <div class="col-12">
            <button type="submit" class="btn btn-primary btn-block col-4 mx-auto" onClick="javascript:history.back();">戻る</button>
        </div>
    </section>

{% endblock %}